test.npz
FPGA/projects/SNN_Perceptron/simulation/
FPGA/projects/SNN_Perceptron/output_files/
FPGA/projects/SNN_Perceptron/incremental_db/
FPGA/projects/SNN_Perceptron/db/
*.bak
data.pt
.ipynb_checkpoints/
